* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

ul {
    list-style-type: none;
}

 .gallery {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
    gap: 30px;
    padding: 0;
    margin: 20px auto;
    justify-content: center;
    align-content: center;
}

input::placeholder {
    padding-left: 5px;
    font-size: 17px;
}

.search-bar {
    text-align: center;
    width: 100%;
    margin: 30px auto;
}

input[id=search] {
    height: 50px;
    min-width: 33%;
    border-color: #eee;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 7px;
    color: #808080;
    box-shadow: 0 2px 0 rgba(0,0,0,0.03) inset;
}